.floating-icon-container {
    display: inline-block;
    height: 30px;
    width: 30px;
    font-size: 16px;
    border-radius: 100%;
    background-color: white;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
}

.shadow {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.delete-icon-container {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.delete-icon-container:hover {
    background-color: #e50000;
    color: white;
}

.image:hover > .floating-icon-container, .text:hover > .floating-icon-container {
    opacity: 1;
}

.floating-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}